<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxcm.user.dao.mapper.SysDomainMapper">
    <resultMap id="BaseResultMap" type="com.bxcm.user.dao.bean.SysDomain">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="domain_id" jdbcType="CHAR" property="domainId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
            <if test="oredCriteria != null and oredCriteria.size() > 0">
                and is_deleted = 0
            </if>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
            <if test="oredCriteria != null and oredCriteria.size() > 0">
                and is_deleted = 0
            </if>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, domain_id, name, remark, is_deleted, created_at, updated_at
    </sql>
    <select id="selectByExample" parameterType="com.bxcm.user.dao.bean.SysDomainExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sys_domain
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null and limit >= 0">
            limit #{offset} , #{limit}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from sys_domain
        where id = #{id,jdbcType=INTEGER}
        and is_deleted = 0
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update sys_domain set is_deleted = 1
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="deleteByExample" parameterType="com.bxcm.user.dao.bean.SysDomainExample">
        update sys_domain set is_deleted = 1
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </update>
    <insert id="insert" parameterType="com.bxcm.user.dao.bean.SysDomain">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_domain (domain_id, name, remark, 
            is_deleted, created_at, updated_at
            )
        values (#{domainId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
            #{isDeleted,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.bxcm.user.dao.bean.SysDomain">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domainId != null">
                domain_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="domainId != null">
                #{domainId,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.bxcm.user.dao.bean.SysDomainExample" resultType="java.lang.Integer">
        select count(*) from sys_domain
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_domain
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.domainId != null">
                domain_id = #{record.domainId,jdbcType=CHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.isDeleted != null">
                is_deleted = #{record.isDeleted,jdbcType=TINYINT},
            </if>
            <if test="record.createdAt != null">
                created_at = #{record.createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatedAt != null">
                updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_domain
        set id = #{record.id,jdbcType=INTEGER},
            domain_id = #{record.domainId,jdbcType=CHAR},
            name = #{record.name,jdbcType=VARCHAR},
            remark = #{record.remark,jdbcType=VARCHAR},
            is_deleted = #{record.isDeleted,jdbcType=TINYINT},
            created_at = #{record.createdAt,jdbcType=TIMESTAMP},
            updated_at = #{record.updatedAt,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.bxcm.user.dao.bean.SysDomain">
        update sys_domain
        <set>
            <if test="domainId != null">
                domain_id = #{domainId,jdbcType=CHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
        and is_deleted = 0
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bxcm.user.dao.bean.SysDomain">
        update sys_domain
        set domain_id = #{domainId,jdbcType=CHAR},
            name = #{name,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            is_deleted = #{isDeleted,jdbcType=TINYINT},
            created_at = #{createdAt,jdbcType=TIMESTAMP},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
        and is_deleted = 0
    </update>
</mapper>